# Dusty-shock tests

{% set prefix = "dustyshock" %}
{% set setup_path = "~/repos/multigrain/code/initial-conditions/dustyshock" %}
{% set runs_path = "/fred/oz015/dmentipl/runs/multigrain/dustyshock" %}
{% job_script = "~/repos/multigrain/code/misc/dustyshock-slurm.sh" %}

{% set system = "ifort" %}
{% set patches_path = "~/repos/multigrain/code/patches" %}
{% set hdf5_path = "/apps/skylake/software/mpi/intel/2016.2.181-gcc-6.4.0/openmpi/3.0.0/hdf5/1.10.1" %}

{% set names =
    ["N_1-nx_64",
    "N_1-nx_128",
    "N_1-nx_128-alpha_0",
    "N_1-nx_128-hfact_1.5",
    "N_1-nx_128-K_10",
    "N_1-nx_128-k_smooth_2",
    "N_1-nx_128-k_smooth_5",
    "N_1-nx_128-recon_off",
    "N_1-nx_256",
    "N_3-nx_64",
    "N_3-nx_128",
    "N_3-nx_128-alpha_0",
    "N_3-nx_128-recon_off",
    "N_3-nx_256",
    ]
%}

[phantom]
path = "~/repos/phantom"
setup = "dustyshock"
system = "{{ system }}"
version = "d9a5507f3fd97b5ed5acf4547f82449476b29091"
patches = [
    "{{ patches_path }}/phantom-d9a5507f-multigrain_setup_shock.patch",
    "{{ patches_path }}/phantom-d9a5507f-idustbound.patch",
    "{{ patches_path }}/phantom-d9a5507f-printing.patch"
]
extra_make_flags = ["MAXP=10000000", "ISOTHERMAL=yes"]
hdf5_path = "{{ hdf5_path }}"


{% for name in names %}

[[runs]]
prefix = "{{ prefix }}"
path = "{{ runs_path }}/{{ name }}"
setup_file = "{{ setup_path }}/{{ name }}/{{ prefix }}.setup"
in_file = "{{ setup_path }}/{{ name }}/{{ prefix }}.in"
job_script = "{{ job_script }}"

{% endfor %}
